.happy_container{
    /* border: 1px solid red; */
    position: absolute;
    top: 25%;
    right: 20%;
    width: 50%;
    height: 50%;
}

.happy_img_div{
    width: 50%;
    height: 50%;
}

.happy_img {
    width: 100%;
    height: 100%;
}

.happy_text{
    font-size: 1.5vmax;
}

.happy_text_first{
    font-size: 2vmax;
}

.happy_text_second,
.happy_text_third,
.happy_text_forth,
.happy_text_fifth,
.happy_text_sixth{
    margin-top: 3%;
}