.interrupting_contents {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 20%;
}

/*! left */
.interrupting_contents_left {
  width: 50%;
  height: 100%;
  float: left;
}

.interrupting_right_img_box {
  width: 100%;
  height: 100%;
  border: 2px solid #ffd954;
  border-radius: 15px;
}

.interrupting_right_img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/*! right */
.interrupting_contents_right {
  width: 48%;
  height: 100%;
  float: right;
  border: 2px solid #ffd954;
  border-radius: 15px;
  padding: 2%;
}

.interrupting_contents_right_title {
  font-size: 2vmax;
  text-align: center;
}

.interrupting_contents_right_first {
  margin-top: 10%;
  font-size: 1.3vmax;
}
.interrupting_contents_right_second,
.interrupting_contents_right_third,
.interrupting_contents_right_forth,
.interrupting_contents_right_fifth,
.interrupting_contents_right_sixth {
  margin-top: 3%;
  font-size: 1.3vmax;
}
