.board_posted_template {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  font-size: 1.2vmax;
}

.board_posted_template_num {
  display: inline-block;
  border: 1px solid gray;
  width: 7%;
  text-align: center;
  height: 5vh;
}

.board_posted_template_title {
  display: inline-block;
  border: 1px solid gray;
  width: 55%;
  /* text-align: center; */
  height: 5vh;
}

.board_posted_template_createdAt {
  display: inline-block;
  border: 1px solid gray;
  width: 17%;
  text-align: center;
  height: 5vh;
}

.board_posted_template_writer {
  display: inline-block;
  border: 1px solid gray;
  width: 10%;
  text-align: center;
  height: 5vh;
}

.board_posted_template_number_of_views {
  display: inline-block;
  border: 1px solid gray;
  width: 10%;
  text-align: center;
  height: 5vh;
}
