.content_container {
  width: 100%;
  height: 100%;
}

.content_header {
  position: absolute;
  top: 9%;
  width: 100%;
  height: 5%;
  font-size: 1vmax;
}

.content_header_title_fix {
  display: inline-block;
  position: relative;
  left: 1%;
}

.content_header_title {
  display: inline-block;
  position: relative;
  left: 1.5%;
}

.content_header_writer_fix {
  display: inline-block;
  position: relative;
  left: 60%;
}

.content_header_writer {
  display: inline-block;
  position: relative;
  left: 60.5%;
}

.content_header_category_fix {
  display: inline-block;
  position: relative;
  left: 61.5%;
}

.content_header_category {
  display: inline-block;
  position: relative;
  left: 62%;
}

.content_header_numOfView_fix {
  display: inline-block;
  position: relative;
  left: 63%;
}

.content_header_numOfView {
  display: inline-block;
  position: relative;
  left: 63.5%;
}

.content_header_createdAt_fix {
  display: inline-block;
  position: relative;
  left: 64.5%;
}

.content_header_createdAt {
  display: inline-block;
  position: relative;
  left: 65%;
}

.content_body {
  position: absolute;
  width: 100%;
  top: 14%;
  padding: 1%;
  border-top: 1px solid #ff8627;
}

.content_comment_write_box {
  position: absolute;
  top: 100%;
  border-top: 2px solid #ff8627;
  width: 100%;
  height: 5%;
}

.content_comment_writer {
  display: inline-block;
  font-size: 1.3vmax;
  position: absolute;
  top: 15%;
  left: 2%;
}

.content_comment_textarea {
  display: inline-block;
  border: 1px solid #ffd954;
  width: 85%;
  height: 100%;
  position: absolute;
  left: 7%;
}

.cotent_textarea {
  width: 100%;
  height: 100%;
  font-size: 1.3vmax;
  outline: none;
}

.content_comment_register_btn {
  display: inline-block;
  position: absolute;
  width: 5%;
  height: 80%;
  top: 10%;
  right: 1%;
}

.content_write_btn {
  border: 1px solid black;
  border-radius: 0.5vmax;
  background-color: #ffd954;
  font-size: 1vmax;
  width: 100%;
  height: 100%;
}

.content_comment_container {
  position: absolute;
  width: 100%;
  top: 105%;
}

.content_comment_box {
  border: 1px solid #ff8627;
}

.content_comments_user_name {
  display: inline-block;
  font-size: 1.3vmax;
  position: relative;
  left: 2%;
}

.content_comments_body {
  display: inline-block;
  font-size: 1.3vmax;
  height: 100%;
  position: relative;
  left: 5%;
}

.content_comments_created_At {
  display: inline-block;
  position: relative;
  top: 3%;
  right: 1%;
  float: right;
  font-size: 1vmax;
}
