.editor_container{
    margin-top: 2.5%;
    margin-left: 5%;
    width: 90%;
    height: 80vh;
    /* border: 1px solid red; */
    /* float: right; */

}

.editor_select_div{

}

.editor_select_box{
    /* border: 1px solid red; */
    /* font-size: 1vmax; */
    /* width: 10%; */
    /* height: 1.5vmax; */
}

.editor_hr {
    width: 100%;
}

.editor_title{
    width: 100%;
    height: 5%;
    margin-top: 2%;
    /* border: 1px solid red; */
}

.editor_title_input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.6vmax;
}

.editor_title_input::placeholder{
    font-size: 1.6vmax;
}

.editor_content{
    width: 100%;
    height: 90%;
    /* border: 1px solid red;    */
}

.editor_content_textarea{
    width: 100%;
    height: 100%;   
    border: none;
    outline: none;
    font-size: 1.3vmax;
}

.editor_content_textarea::placeholder{
    font-size: 1.3vmax;
}