/* body > #root > div {
    height: 100vh;
  }  */
  

.about_container{
    /* border: 3px solid red; */
    /* margin-left: 10%; */
    /* background-color:lightyellow; */
    /* width: 80%; */
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    
}
/*! top */
.about_top{
  /* border: 3px solid red; */
  /* width: 100%; */
  /* background-color:lightyellow; */
  width: 100%;
  /* margin-left: 20%; */
  height: 65%;
}

.about_top_left{
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
  
}
.about_top_left_text_box{
  /* border: 1px solid red;   */
  width: 100%;
  height: 70%;
  position: absolute;
  top: 20%;
  margin-left: 15%;
}
.about_top_left_title{
  /* border: 1px solid red; */
  /* padding-left: 5%; */
  /* margin-left: 5%; */
  width: 90%;
  height: 20%;
  font-size: 2vmax;
  /* position: relative; */
  /* position: absolute; */
  /* top: 0; */
}
.about_top_left_content1{

  /* border: 1px solid red; */
  /* padding-left: 5%; */
  /* margin-left: 5%; */
  width: 90%;
  height: 13%;
  font-size: 1.5vmax;
}
.about_top_left_content2{
  /* border: 1px solid red; */
  /* padding-left: 5%; */
  /* margin-left: 5%; */
  width: 90%;
  height: 20%;
  font-size: 1.5vmax;
}
.about_top_left_content3{
  /* border: 1px solid red; */
  /* padding-left: 5%; */
  /* margin-top: 4%; */
  /* margin-left: 5%; */
  width: 90%;
  height: 20%;
  font-size: 1.5vmax;
}
.about_top_right {
  display: inline-block;
  /* background-color: #E4D84D; */
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
}

.about_top_right_img{
  width: 100%;
  height:100%;
  /* width: 60%;
  height: 60%; */
}

/*! middle */
.about_middle{
  width: 100%;
  /* margin-right: 20%; */
  height: 65%;
}

.about_middle_left{
  display: inline-block;
  /* background-color: #E4D84D; */
  width: 50%;
  height: 100%;
}
.about_middle_left_img{
  width: 100%;
  height:100%;
  /* width: 60%;
  height: 60%; */
}

.about_middle_right{
  display: inline-block;
  /* border: 3px solid red; */
  /* background-color: #E4D84D; */
  /* width: 50%; */
  width: 45%;
  height: 50%;
  /* position: relative; */
  position: absolute;
  margin-top: 3%;
  margin-left: 3%;
}

.about_middle_text_box{
  width: 100%;
  height: 100%;
  /* position: relative; */
  /* position: absolute; */
  /* border: 3px solid red; */
  /* top: 10%; */
  /* left: 1%; */
}

.about_middle_text_box_content1{
  /* border: 3px solid red; */
  font-size: 2vmax;

}
.about_middle_text_box_content2{
  /* border: 3px solid red; */
  margin-top: 5%;
    font-size: 1.5vmax;

}
.about_middle_text_box_content3{
  /* border: 3px solid red; */
    font-size: 1.5vmax;

}
.about_middle_text_box_content4{
  /* border: 3px solid red; */
    font-size: 1.5vmax;

}
.about_middle_text_box_content5{
  /* border: 3px solid red; */
    font-size: 1.5vmax;

}


/*! bottom */
.about_bottom{
  /* border: 3px solid red; */
  /* background-color: red; */
  width: 100%;
  /* margin-left: 10%; */
  /* height: 60%; */
}
.about_bottom_left{
  display: inline-block;
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
  /* position: relative; */
}
.about_bottom_left_text_box{
  width: 35%;
  height: 30%;
  position: absolute;
  /* bottom: -60%; */
  top: 165%;
  left: 7.5%;
  /* font-size: 1.6vmax; */
  /* border: 1px solid red; */
  text-align: center;
}

.about_bottom_left_text_box_content1{
  /* border: 1px solid red; */
  font-size: 1.4vmax;
}
.about_bottom_left_text_box_link_text{
  margin-top: 15%;
  /* border: 1px solid red; */
  font-size: 1.4vmax;
}

.about_bottom_right{
  display: inline-block;
  width: 50%;
  height: 100%;
}

.about_bottom_right_img{
  width: 100%;
  height:100%; 
}