.board_sidebar_container {
  float: left;
  width: 10%;
  position: absolute;
  top: 15%;
  left: 3.5%;
}

.board_sidebar_container_small,
.board_sidebar_container_medium,
.board_sidebar_container_large,
.board_sidebar_container_weather {
  margin-top: 15%;
}

.board_sidebar_container_free {
  font-size: 1.5vmax;
  font-weight: 550;
}
.board_sidebar_container_small {
  font-size: 1.5vmax;
  font-weight: 550;
}
.board_sidebar_container_medium {
  font-size: 1.5vmax;
  font-weight: 550;
}

.board_sidebar_container_large {
  font-size: 1.5vmax;
  font-weight: 550;
}

.board_sidebar_container_weather {
  font-size: 1.5vmax;
  font-weight: 550;
}
