.landing_page {
  width: 100%;
  height: 100%;
}

.landing_contents1 {
  position: absolute;
  width: 100%;
  height: 80%;
}

.landing_contents1_title {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 2.3vmax;
  font-weight: 530;
}

.landing_contents1_div_img {
  display: inline-block;
  position: absolute;
  border: 2px solid #ff8627;
  border-radius: 1vmax;
  top: 20%;
  right: 10%;
  width: 35%;
  height: 55%;
}

.landing_contents1_img {
  width: 100%;
  height: 100%;
  border-radius: 1vmax;
}

.landing_contents1_body_1 {
  font-size: 1.5vmax;
  position: absolute;
  top: 40%;
  left: 10%;
}

.landing_contents1_body_2 {
  font-size: 1.5vmax;
  position: absolute;
  top: 46%;
  left: 10%;
}

.landing_contents1_div_btn {
  font-size: 1vmax;
  position: absolute;
  border: 1.3px solid #ff8627;
  padding: 1%;
  top: 60%;
  left: 10%;
  border-radius: 9999px;
  cursor: pointer;
}

.landing_contents1_div_btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.landing_contents1_btn {
  width: 100%;
  height: 100%;
}

/*! 2칸 */
.landing_contents2 {
  position: absolute;
  top: 80%;
  width: 100%;
  height: 140%;
}

/** happy */
.landing_contents2_happy_container {
  border-top: 2px solid #ffd954;
  border-bottom: 2px solid #ffd954;
  width: 100%;
  height: 25%;
}

.landing_contents2_happy_text_box {
  display: inline-block;
  width: 30%;
  height: 100%;
  margin-left: 20%;
}

.landing_contents2_happy_text_1 {
  width: 20%;
  font-size: 2vmax;
  font-weight: 530;
  position: relative;
  top: 15%;
}

.landing_contents2_happy_text_2 {
  font-size: 1.4vmax;
  position: relative;
  top: 20%;
}

.landing_contents2_happy_text_3 {
  font-size: 1.4vmax;
  position: relative;
  top: 22%;
}

.landing_contents2_happy_text_4 {
  font-size: 1.4vmax;
  position: relative;
  top: 32%;
}

.landing_contents2_happy_div_img {
  display: inline-block;
  float: right;
  width: 25%;
  height: 90%;
  position: relative;
  top: 5%;
  margin-right: 20%;
}

.landing_contents2_happy_img {
  width: 100%;
  height: 100%;
}

/** comfortable */
.landing_contents2_comfortable_container {
  border-bottom: 2px solid #ffd954;
  width: 100%;
  height: 25%;
}

.landing_contents2_comfortable_text_box {
  display: inline-block;
  float: right;
  width: 30%;
  height: 100%;
  margin-right: 20%;
}

.landing_contents2_comfortable_text_1 {
  width: 20%;
  font-size: 2vmax;
  font-weight: 530;
  position: relative;
  top: 15%;
  left: 10%;
}

.landing_contents2_comfortable_text_2 {
  font-size: 1.4vmax;
  position: relative;
  top: 20%;
  left: 10%;
}

.landing_contents2_comfortable_text_3 {
  font-size: 1.4vmax;
  position: relative;
  top: 22%;
  left: 10%;
}

.landing_contents2_comfortable_text_4 {
  font-size: 1.4vmax;
  position: relative;
  top: 40%;
  left: 10%;
}

.landing_contents2_comfortable_div_img {
  display: inline-block;
  width: 25%;
  height: 90%;
  position: relative;
  top: 5%;
  margin-left: 20%;
}

.landing_contents2_comfortable_img {
  width: 100%;
  height: 100%;
}

/** nervous */
.landing_contents2_nervous_container {
  border-bottom: 2px solid #ffd954;
  width: 100%;
  height: 25%;
}

.landing_contents2_nervous_text_box {
  display: inline-block;
  width: 30%;
  height: 100%;
  margin-left: 20%;
}

.landing_contents2_nervous_text_1 {
  width: 20%;
  font-size: 2vmax;
  font-weight: 530;
  position: relative;
  top: 15%;
}

.landing_contents2_nervous_text_2 {
  font-size: 1.4vmax;
  position: relative;
  top: 20%;
}

.landing_contents2_nervous_text_3 {
  font-size: 1.4vmax;
  position: relative;
  top: 22%;
}

.landing_contents2_nervous_div_img {
  display: inline-block;
  float: right;
  width: 25%;
  height: 90%;
  position: relative;
  top: 5%;
  margin-right: 20%;
}

.landing_contents2_nervous_img {
  width: 100%;
  height: 100%;
}

/** settle */
.landing_contents2_settle_container {
  border-bottom: 2px solid #ffd954;
  width: 100%;
  height: 25%;
}

.landing_contents2_settle_text_box {
  display: inline-block;
  float: right;
  width: 30%;
  height: 100%;
  margin-right: 20%;
}

.landing_contents2_settle_text_1 {
  width: 20%;
  font-size: 2vmax;
  font-weight: 530;
  position: relative;
  top: 15%;
  left: 10%;
}
.landing_contents2_settle_text_2 {
  font-size: 1.4vmax;
  position: relative;
  top: 20%;
  left: 10%;
}
.landing_contents2_settle_text_3 {
  font-size: 1.4vmax;
  position: relative;
  top: 22%;
  left: 10%;
}

.landing_contents2_settle_div_img {
  display: inline-block;
  width: 25%;
  height: 90%;
  position: relative;
  top: 5%;
  margin-left: 20%;
}

.landing_contents2_settle_img {
  width: 100%;
  height: 100%;
}

/*! 3칸 */

.landing_contents3 {
  position: absolute;
  top: 220%;
  width: 100%;
  height: 30%;
}

.landing_contents3_btn {
  font-size: 1vmax;
  position: absolute;
  border: 1px solid #ff8627;
  top: 45%;
  left: 45%;
  padding: 1%;
  border-radius: 9999px;
  cursor: pointer;
}

.landing_contents3_btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
