.mypage_container {
  width: 100%;
  height: 90vh;
  margin-top: 4%;
  border: 1px solid red;
  overflow: hidden;
}

.mypage_profile_title {
  /* border: 3px solid blue; */
  position: absolute;
  top: 20%;
  left: 10%;
  /* width: 80%; */
  height: 5%;
  font-size: 1.3vmax;
}

.mypage_profile_box {
  width: 80%;
  height: 70%;
  position: relative;
  top: 15%;
  margin-top: 3%;
  margin-left: 10%;
  border: 3px solid blue;
}

.mypage_profile_ID_box_title,
.mypage_profile_ID_box_value,
.mypage_profile_PW_box_title,
.mypage_profile_PW_box_value,
.mypage_profile_PW_box_change,
.mypage_profile_name_box_title,
.mypage_profile_name_box_value,
.mypage_profile_name_box_change,
.mypage_profile_pet_name_title,
.mypage_profile_pet_name_value_box,
.mypage_profile_pet_name_value,
.mypage_profile_pet_name_input_box,
.mypage_profile_pet_breed_title,
.mypage_profile_pet_breed_value_box,
.mypage_profile_pet_breed_value,
.mypage_profile_pet_breed_input_box {
  display: inline-block;
}

/*! ID */
.mypage_profile_ID_box {
  border: 3px solid red;
  width: 100%;
  height: 10%;
}

.mypage_profile_ID_box_title {
  border: 1px solid black;
  font-size: 1vmax;
}

.mypage_profile_ID_box_value {
  border: 1px solid black;
  font-size: 1vmax;
  margin-left: 3%;
}

/*! PW */
.mypage_profile_PW_box {
  border: 1px solid red;
  width: 100%;
  height: 10%;
}

.mypage_profile_PW_box_title {
  border: 1px solid black;
}

.mypage_profile_PW_box_value {
  border: 1px solid black;
  margin-left: 3%;
}

/*! name */
.mypage_profile_name_box {
  border: 1px solid red;
  width: 100%;
  height: 10%;
}

.mypage_profile_name_box_title {
  border: 1px solid black;
}

.mypage_profile_name_box_value {
  border: 1px solid black;
  margin-left: 3%;
}

/*! pet name*/
.mypage_profile_pet_name_box {
  border: 1px solid red;
}

.mypage_profile_pet_name_title {
  border: 1px solid black;
}

.mypage_profile_pet_name_value {
  border: 1px solid black;
  margin-left: 3%;
}

.mypage_profile_pet_name_value_box {
  border: 1px solid red;
  width: 50%;
}

/*! pet breed */
.mypage_profile_pet_breed_box {
  border: 1px solid red;
}

.mypage_profile_pet_breed_title {
  border: 1px solid black;
}

.mypage_profile_pet_breed_value_box {
  border: 1px solid red;
  width: 50%;
}

/* 모달 */

.mypage_profile_modal_password,
.mypage_profile_modal_name,
.mypage_profile_modal_location_one,
.mypage_profile_modal_location_two {
  position: absolute;
  top: 25%;
  left: 35%;
  border: 3px solid red;
  width: 30%;
  height: 60%;
  z-index: 999;
  background-color: white;
}
