.nav_container{
    border: 1px solid gray;
    /* background-color: black; */
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: space-around;
}

.nav_link_logo,
.nav_link_about,
.nav_link_calming_signal,
.nav_link_board,
.nav_link_mypage,
.nav_link_sign_in{
    /* border: 1px solid red; */
    /* background-color: black; */
    width: 100%;
    height: 100%;
    font-size: 1.2vmax;
    text-align: center;
}

.nav_logo{
    
}


.nav_sign_in{
    /* background-color: black; */
}

