.sidebar_container {
  float: left;
  width: 11%;
  position: absolute;
  top: 15%;
  left: 3.5%;
}

.sidebar_1,
.sidebar_2,
.sidebar_3,
.sidebar_4,
.sidebar_5,
.sidebar_6,
.sidebar_7,
.sidebar_8,
.sidebar_9,
.sidebar_10 {
  margin-top: 10%;
  margin-left: 5%;
  font-size: 1.1vmax;
}

.sidebar_category_comfortable,
.sidebar_category_nervous,
.sidebar_category_settle {
  margin-top: 15%;
}

.sidebar_category_happy {
  font-size: 1.5vmax;
  font-weight: 550;
}
.sidebar_category_comfortable {
  font-size: 1.5vmax;
  font-weight: 550;
}
.sidebar_category_nervous {
  font-size: 1.5vmax;
  font-weight: 550;
}

.sidebar_category_settle {
  font-size: 1.5vmax;
  font-weight: 550;
}
