/* body > #root > div {
  height: 100vh;
}  */

/* html {
  height: 100%;
} */

/* html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
} */

/* .about_text_box{
  border: 1px solid red;
  width: 60%;
} */

/* html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
} */

